h1 { 
   color: black; 
   background-color: White;
   border: 1px solid black; 
   text-decoration: underline 
  
  }
  
 h2 {
     color: black;
     text-decoration: underline
 } 
   
 p { font-family: arial; } 


  img {
      max-width: 20%;
      width: 50px;
      display: float;
      float: left;
      margin-right: 1em;
  }
     
   


   



